#q2 {
  display:none;
}

#q3 {
  display:none;
}

#q4 {
  display:none;
}

#q5 {
  display:none;
}

#q6 {
  display:none;
}



p {
  color: black;
  font-size: 32px;
  font-family: 'Adamina';
  margin: 0px;
  padding-top: 0;
  font-weight: bold;
}

#choices {
  color: black;
  font-size: 26px;
  font-family: 'Adamina';
  margin: 0px;
  padding-top: 0;
}
