.answers input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.tomboy1{background-image:url(https://image.ibb.co/mOTsoK/Q1_tomboy.jpg);}
.mini1{background-image:url(https://image.ibb.co/hjoE2e/Q1_mini.jpg);}
.fem1{background-image:url(https://preview.ibb.co/d93vQz/Q1_fem.jpg);}
.bohem1{background-image:url(https://image.ibb.co/hQPz2e/Q1_bohem.jpg);}
.vint1{background-image:url(https://image.ibb.co/kZuA8K/Q1_vint.jpg);}

.tomboy2{background-image:url(https://preview.ibb.co/fEAQ8K/Q2_tomboy.gif);}
.mini2{background-image:url(https://preview.ibb.co/c7CNoK/Q2_mini.png);}
.fem2{background-image:url(https://preview.ibb.co/fPUaaz/Q2_fem.png);}
.bohem2{background-image:url(https://preview.ibb.co/ftAiTK/Q2_bohem.png);}
.vint2{background-image:url(https://image.ibb.co/mSKJTK/Q2_vint.png);}

.tomboy3{background-image:url(https://image.ibb.co/fpEoCe/Q3_tomboy.jpg);}
.mini3{background-image:url(https://image.ibb.co/k2oyCe/Q3_mini.jpg);}
.fem3{background-image:url(https://image.ibb.co/idfaQz/Q3_fem.jpg);}
.bohem3{background-image:url(https://image.ibb.co/e8zfaz/Q3_bohem.jpg);}
.vint3{background-image:url(https://image.ibb.co/jpWzkz/Q3_vint.jpg);}

.tomboy4{background-image:url(https://preview.ibb.co/eY31yK/Q4_tomboy.jpg);}
.mini4{background-image:url(https://preview.ibb.co/gKWRXe/Q4_mini.jpg);}
.fem4{background-image:url(https://preview.ibb.co/h1eMXe/Q4_fem.jpg);}
.bohem4{background-image:url(https://image.ibb.co/jNTqse/Q4_bohem.jpg);}
.vint4{background-image:url(https://preview.ibb.co/dxbRXe/Q4_vint.jpg);}

.answers input:active +.picture1_3{opacity: .9;}
.answers input:checked +.picture1_3{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.answers input:active +.picture2_4{opacity: .9;}
.answers input:checked +.picture2_4{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.picture1_3{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:167px;height:296px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.4) opacity(.8);
       -moz-filter: brightness(1.2) grayscale(.4) opacity(.8);
            filter: brightness(1.2) grayscale(.4) opacity(.8);
}
.picture2_4{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;height:200px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.4) opacity(.8);
       -moz-filter: brightness(1.2) grayscale(.4) opacity(.8);
            filter: brightness(1.2) grayscale(.4) opacity(.8);
}
.picture1_3:hover{
    -webkit-filter: brightness(1.2) grayscale(0) opacity(1);
       -moz-filter: brightness(1.2) grayscale(0) opacity(1);
            filter: brightness(1.2) grayscale(0) opacity(1);
}
.picture2_4:hover{
    -webkit-filter: brightness(1.2) grayscale(0) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(0) opacity(.9);
            filter: brightness(1.2) grayscale(0) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
